stages:
  - build_app
  - build_image

variables:
  CACHIX_CACHE_NAME: midorishibukawa-ml
  DOCKER_USERNAME: midorishibukawa
  PROJECT_NAME: advent_of_code
  IMAGE_TAG: 0.day4
  
.before_script_cachix:
  before_script:
    - nix profile install --accept-flake-config nixpkgs#cachix
    - cachix use "$CACHIX_CACHE_NAME"

build:
  image: nixpkgs/nix-flakes:latest
  extends: .before_script_cachix
  stage: build_app
  artifacts:
    paths:
      - advent_of_code
  script:
    - cachix watch-exec $CACHIX_CACHE_NAME -- nix develop .#$PROJECT_NAME -c dune runtest
    - cachix watch-exec $CACHIX_CACHE_NAME -- nix build
    - cp ./result/bin/$PROJECT_NAME .

build_docker:
  image: docker
  services:
    - docker:dind
  stage: build_image
  before_script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_REGISTRY_TOKEN
  script: 
    - docker build -t "$DOCKER_USERNAME/$PROJECT_NAME:$IMAGE_TAG" .
    - docker push "$DOCKER_USENAME/$PROJECT_NAME:$IMAGE_TAG"
