stages:
  - build

variables:
  CACHIX_CACHE_NAME: midorishibukawa-ml
  
.before_script_template:
  before_script:
    - nix profile install --accept-flake-config nixpkgs#cachix
    - cachix use "$CACHIX_CACHE_NAME"

build:
  extends: .before_script_template
  stage: build
  artifacts:
    paths:
      - result/bin/advent_of_code
  script:
    - cachix watch-exec $CACHIX_CACHE_NAME -- nix develop -c dune runtest
    - cachix watch-exec $CACHIX_CACHE_NAME -- nix build
