@import './reset.css';

:root {
    --mono: monospace;
    --bg: hsl(230deg, 45%, 12%);
    --fg: hsl(40deg, 50%, 91%);
    --fg-fade: hsl(40deg, 50%, 91%, 70%);
    --fg-subtle: hsl(40deg, 50%, 91%, 50%);
}

html {
    height: 100%;
    font-family: var(--mono);
    display: grid;
    place-items: start center;
    background-color: var(--bg);
    color: var(--fg);
}

body {
    display: grid;
    place-items: start center;
    height: 100%;
    max-width: 720px;
    grid-template:
    "title" fit-content(100%)
    "nav"   fit-content(100%)
    "main"  fit-content(100%) / auto;
    gap: 1rem;
    padding: 4rem;
}

main {
    display: grid;
    place-items: start center;
    max-width: 720px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0rem;
}

form {
    display: grid;
    gap: 1rem;
    grid-column-template: auto;
    padding: 1rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    & a {
        display: grid;
        width: 3rem;
        height: 2.5rem;
        place-items: center;
        text-decoration: none;
        border-radius: 4px;
        color: var(--fg-subtle);
        border: 1px solid;
        transition: 1s;
        font-weight: 200;
        pointer-events: none;
        text-decoration: none;
        &.solved {
            pointer-events: auto;
            border-width: 2px;
            font-weight: 700;
            animation: glow 4s infinite;
        }
    }
}

@keyframes glow {
  0%, 100% {
      color: var(--fg-fade);
  }
  50% {
      color: var(--fg);
  }
}

textarea {
    background-color: inherit;
    color: inherit;
    aspect-ratio: 4 / 3;
    max-width: 100%;
    border-radius: 4px;
}

button {
    border: 1px solid var(--fg);
    border-radius: 4px;
    color: var(--bg);
    min-height: 32px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 416px) {
    h1 {
        font-size: 2rem;
    }
}
