@import './reset.css';

:root {
    --mono: 'JetBrains Mono', mono;
    --fade: grey;
}

html {
    font-family: var(--mono);
    display: grid;
    place-items: start center;
}

body {
    display: grid;
    place-items: start center;
    max-width: 720px;
    grid-template:
    "title" fit-content(100%)
    "nav"   fit-content(100%)
    "main"  fit-content(100%) / auto;
    gap: 1rem;
}

main {
    display: grid;
    place-items: start center;
    max-width: 720px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    padding: 1rem;
}

form {
    display: grid;
    gap: 1rem;
    grid-column-template: auto;
    padding: 1rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

a.disabled {
    pointer-events: none;
    color: var(--fade);
    text-decoration: none;
}
